pipeline/pipeline10 - Until Activity.json
{
	"name": "pipeline10 - Until Activity",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"description": "in the Until loop \nThe flag value FileAvailabe variable tells file available or not available, the default value if false for the 1st time as the default value is false then it goes inside the loop and opens the activity's in the loop.\nthen using the GET METADATA we are getting the metadata of the file whether the file exists or not and then followed by the if condition, if its true  and file is available it sets the variable to True using the SETVERIABLE so the loop end here and followed by the copy data activity\n\nIF the value is false it means file is not available then it waits for 60 seconds before running the until loop again ",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('FileAvailable'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "InputDataDataSet",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata1').outputbinary()",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait1",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 60
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileAvailable",
											"value": "True "
										}
									}
								]
							}
						}
					],
					"timeout": "0.00:02:00"
				}
			},
			{
				"name": "Copy data1",
				"description": "Copying the file after completing the until loop and found the metadata of that file ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "adfdemo/input/data.txt"
					},
					{
						"name": "Destination",
						"value": "adfdemo/output/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "InputDataDataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OutputFolderDataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"FileAvailable": {
				"type": "String",
				"defaultValue": "Flase"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-16T20:09:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}